<h1>新規登録</h1>
<%= form_for(@property) do |f| %>
  <div class="property_form">
    <%= f.label :"物件名" %>
    <%= f.text_field :property_name %>

    <%= f.label :"賃料" %>
    <%= f.text_field :rent_price %>

    <%= f.label :"住所" %>
    <%= f.text_field :address %>

    <%= f.label :"築年数" %>
    <%= f.text_field :age %>

    <%= f.label :"備考" %>
    <%= f.text_field :remark %>
  </div>
  <%= f.fields_for(@station) do |station| %>
    <div class="station_form">
      <%= station.label :"路線名" %>
      <%= station.text_field :route_name %>

      <%= station.label :"駅名" %>
      <%= station.text_field :station_name %>

      <%= station.label :"徒歩分数" %>
      <%= station.text_field :time_required %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
